body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    background-size: cover;
    background-position: center;
}
    
.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #f2f2f2;
    padding: 1em 0;
}

header .logo {
    text-align: center;
}

header .logo .title {
    margin: 0;
    font-size: 2em;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 1em;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
}

main {
    padding: 1em;
}

h2 {
    width: auto;
    height: auto;
    border-radius: 30px;
    background: #212121;
    box-shadow: 5px 5px 15px rgb(25, 25, 25),
                -5px -5px 15px rgb(60, 60, 60);
}   

.section-title {
    text-align: center;
    padding: auto 2px;
    margin-bottom: 1em;
    color: #f2f2f2;
}

#card {
    padding: 1.5em;
    border-radius: 30px;
    background: #212121;
    box-shadow: 5px 5px 15px rgb(25, 25, 25),
                -5px -5px 15px rgb(60, 60, 60);
}
    #card:hover {
        box-shadow: 5px 5px 15px rgb(25, 25, 25),
                -5px -5px 15px rgb(82, 34, 255);
    }

img.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.about-container {
    display: flex;
    align-items: center;
}

.about-text-container {
    margin: 1em 2em 2em 2em;
}

.about-text {
    text-align: justify;
    margin: 0px;
    color: #d2d2d2;
}

.projects-container {
    display: flex;
    overflow-x: scroll;
    cursor: default;
}

.project-carousel-item {
    flex: 0 0 auto;
    width: 245px;
    margin: 1em 1em 0em 1em;
    transition: 0.3s;
}

.project-carousel-item:hover {
    width: 685px;
    transition: 0.3s;
}

.project-card {
    margin-bottom: 2em;
    height: 245px;
    transition: 0.5s;
}

.project-card:hover {
    height: 695px;
    transition: 0.5s;
}

img.project-image {
    width: 100%;
    height: auto;
}

.project-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    margin-top: 1em;
    color: #d2d2d2;
}

.project-description {
    text-align: justify;
    margin-top: 1em;
    color: #d2d2d2;
    display: none;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
}

.project-carousel-item:hover .project-description {
    opacity: 1;
    display: block;
    transition: opacity 1s;
    transition-delay: 1s;
}

.project-carousel-item:hover .neumorphic-button-download{
    opacity: 1;
    display: flex;
    transition: 0.3s;
}

.project-carousel-item:hover .project-info{
    height: 348px;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 1em;
}

.education-card {
    width: 44%;
    margin-bottom: 2em;
}

.education-title {
    text-align: center;
    color: #d2d2d2;
}

.education-description {
    text-align: center;
    margin-top: 1em;
    color: #d2d2d2;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-card-container{
    margin: 2.5em auto 3em auto;
}

.skill-card {
    width: calc(25% - 1em);
    margin-bottom: 2em;
}

.skill-title {
    text-align: center;
    color: #d2d2d2;
}

.skill-level {
    height: 10px;
    width: 100%;
    background-color: #000000;
    border-radius: 5px;
    margin-top: 1em;
}

.skill-level-bar-1 {
    height: 100%;
    width: 80%;
    background-color: #3498db;
    border-radius: 5px;
}

.skill-level-bar-2 {
    height: 100%;
    width: 80%;
    background-color: #3498db;
    border-radius: 5px;
}

.skill-level-bar-3 {
    height: 100%;
    width: 50%;
    background-color: #3498db;
    border-radius: 5px;
}

.skill-level-bar-4 {
    height: 100%;
    width: 30%;
    background-color: #3498db;
    border-radius: 5px;
}

.skill-level-bar-5 {
    height: 100%;
    width: 50%;
    background-color: #006e16;
    border-radius: 5px;
}

.skill-level-bar-6 {
    height: 100%;
    width: 50%;
    background-color: #006e16;
    border-radius: 5px;
}

.experience-container {
    display: flex;
    overflow-x: scroll;
}

.experience-carousel-item {
    flex: 0 0 auto;
    width: 300px;
    margin: 1em 1em 0em 1em;
}

.experience-card {
    width: auto;
    margin-bottom: 2em;
    height: 280px;
}

img.experience-image {
    width: auto;
    height: 50px;
}

.experience-title {
    text-align: center;
    color: #d2d2d2;
}

.experience-description {
    text-align: justify;
    margin-top: 1em;
    color: #d2d2d2;
}

.experience-dates {
    text-align: center;
    margin-top: 1em;
    color: #d2d2d2;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form {
    width: 60%;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    margin-bottom: 1em;
}

.contact-info {
    width: 35%;
    text-align: center;
}

.contact-info p {
    margin-bottom: 1em;
}

footer {
    background-color: #f2f2f2;
    padding: 1em 0;
    text-align: center;
}

li.neumorphic-button {
    width: auto;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 2px 2px 10px #d9d9d9, -2px -2px 10px #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li.neumorphic-button:hover{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
                inset -20px -20px 60px #ffffff;
}

li.neumorphic-button a {
    padding: 0.5em 1.5em;
    color: #333;
    font-weight: bold;
}

.neumorphic-button-download {
    width: max-content;
    height: auto;
    background-color: #d2d2d2;
    border-radius: 25px;
    box-shadow: 2px 2px 10px #3b3b3b, -2px -2px 10px #5c5c5c;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-inline: auto;
}

.neumorphic-button-download:hover{
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: inset 20px 20px 60px #bebebe,
                inset -20px -20px 60px #ffffff;
}

.neumorphic-button-download a {
    padding: 0.5em 1.5em;
    color: #333;
    font-weight: bold;
}

form label {
    color: #d2d2d2;
}

.contact-text {
    color: #d2d2d2;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #a8a8a8;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }